/* fonts */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i|Oxygen:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');

/* variables */
$col-bg: rgba(223, 59, 0, 1);
$col-txt: rgba(248, 241, 241, 1);

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    // background: linear-gradient(180deg, 
    // rgba(255, 255, 255, 0.13), 
    // rgb(255, 255, 255)), 
    // linear-gradient(90deg, 
    // rgb(0, 180, 105), 
    // rgb(57, 0, 163));

    background: linear-gradient(180deg, 
    rgba(255, 255, 255, 0.13), 
    rgb(255, 255, 255)), 
    linear-gradient(90deg, 
    #BB5700,
    #727D00,
    #00907A);

    // background: darken(red, 30%);
    background-repeat: no-repeat;
    background-size: 100vw 600px;
    // height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}